<div class="container">
  <nav class="nav">
    <ul>
      <li>Home</li>
      <li>Taco Menu</li>
      <li>Draft List</li>
      <li>Hours</li>
      <li>Directions</li>
      <li>Contact</li>
    </ul>
  </nav>
  <section>
    section 的 margin-left 样式确保了有足够的空间容纳nav元素。
  </section>
  <section>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare massa eget egestas purus viverra. Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Urna nec tincidunt praesent semper feugiat nibh. Arcu bibendum at varius vel pharetra. Id volutpat lacus laoreet non curabitur. Sed elementum tempus egestas sed sed risus. Maecenas sed enim ut sem viverra aliquet eget sit. Netus et malesuada fames ac turpis egestas. Justo eget magna fermentum iaculis eu non diam phasellus. At auctor urna nunc id cursus metus aliquam eleifend mi. In egestas erat imperdiet sed euismod nisi porta lorem mollis. Et tortor at risus viverra adipiscing at in tellus integer. Eget dolor morbi non arcu risus quis varius. Quam elementum pulvinar etiam non.
  </section>
  <section>
    注意观察当你调整浏览器窗口时发生了什么。效果很赞！
  </section>
</div>

<footer>
  I'm a footer.
</footer>
